<!DOCTYPE html>
<html>
<head>
  <title>Remove Channel</title>
</head>
<body>
  <img src="https://raw.githubusercontent.com/sean89503/Invidious_Cast/main/logo.png" width="80" hight="80"  alt="Invidious Cast Logo"> <h1>Remove Channel</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post" action="/remove">
    <label for="channel_id">Channel ID:</label>
    <input type="text" id="channel_id" name="channel_id" required><br>
    <button type="submit">Remove Channel</button>
  </form>
</body>
</html>
